* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "../variables/fonts";

@import "./components/generals";
@import "./components/header";
@import "./components/index-main";








